doctype html

html(lang='ru')
	head
		title Список всех старниц «#project-name»
		meta(
			name='format-detection'
			content='telephone=no')
		meta(
			http-equiv='X-UA-Compatible'
			content='IE=edge')
		meta(charset='UTF-8')
		meta(
			name='viewport'
			content='width=device-width, initial-scale=1, user-scalable=no')
		link(
			rel='icon'
			href='img/favicons/favicon.svg'
			type='image/svg+xml'
			sizes='any')

		style.
			.page-list {
				min-height: 100vh;
				padding-top: 40px;
				font-family: Arial, sans-serif;
				color: #fff;
				background-color: #212122;
			}
			.page-list__box {
				padding: 20px 40px;
				background-color: #000;
			}
			.page-list__header {
				display: -webkit-box;
				display: flexbox;
				display: flex;
				-webkit-box-orient: horizontal;
				-webkit-box-direction: normal;
				-ms-flex-flow: row wrap;
				flex-flow: row wrap;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;
			}
			.page-list__title {
				font-size: 24px;
				line-height: 1.4em;
			}
			.page-list__title span {
				color: #7fffd4;
			}
			.page-list__git-link {
				display: block;
				margin: 5px 0;
				font-size: 12px;
				line-height: 1.2em;
				color: rgba(255, 255, 255, 0.2);
				-webkit-transition: ease 0.2s;
				-o-transition: ease 0.2s;
				transition: ease 0.2s;
			}
			.page-list__git-link:hover {
				color: #96fd8b;
			}
			.page-list__link {
				position: relative;
				display: inline-block;
				color: #fff;
				text-decoration: none;
			}
			.page-list__link::before {
				position: absolute;
				bottom: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 1px;
				content: '';
				background-color: #fff;
				-webkit-transition: ease 0.2s;
				-o-transition: ease 0.2s;
				transition: ease 0.2s;
				-webkit-transform: scale(0, 1);
				-ms-transform: scale(0, 1);
				transform: scale(0, 1);
			}
			.page-list__link:hover::before {
				-webkit-transform: scale(1, 1);
				-ms-transform: scale(1, 1);
				transform: scale(1, 1);
			}
			.page-list__link:visited {
				color: #96fd8b;
			}
			.page-list__link:visited::before {
				background-color: #96fd8b;
			}
			.page-list__items {
				padding: 0;
				margin-top: 16px;
				margin-bottom: 25px;
				margin-left: -25px;
				counter-reset: heading;
				-webkit-column-count: 3;
				-moz-column-count: 3;
				column-count: 3;
			}
			.page-list__item {
				position: relative;
				padding-left: 30px;
				margin-bottom: 8px;
				font-size: 16px;
				list-style: none;
				counter-increment: heading;
				page-break-inside: avoid;
			}
			.page-list__item::before {
				position: absolute;
				top: 0;
				left: 0;
				display: inline-block;
				width: 25px;
				margin-right: 5px;
				font-size: 14px;
				color: rgba(241, 241, 241, 0.5);
				text-align: right;
				content: counter(heading) '.';
			}
			@media only screen and (max-width: 1024px) {
				.page-list__items {
					-webkit-column-count: 3;
					-moz-column-count: 3;
					column-count: 3;
				}
			}
			@media only screen and (max-width: 768px) {
				.page-list__items {
					-webkit-column-count: 2;
					-moz-column-count: 2;
					column-count: 2;
				}
			}
			@media only screen and (max-width: 576px) {
				.page-list__title {
					-webkit-box-ordinal-group: 3;
					-ms-flex-order: 2;
					order: 2;
				}
				.page-list__git-link {
					-webkit-box-ordinal-group: 2;
					-ms-flex-order: 1;
					order: 1;
					margin-bottom: 15px;
					font-size: 10px;
				}
				.page-list__items {
					-webkit-column-count: 1;
					-moz-column-count: 1;
					column-count: 1;
				}
			}

	body.page-list
		.page-list__wrap
			.page-list__box
				.page-list__header
					h3.page-list__title
						| Страницы проекта&nbsp;
						span «#project-name»:
					a.page-list__git-link(
						href='https://github.com/ladown?tab=repositories'
						target='_blank') ladown
				#page-list
