include ../mixins/mixins-loader.pug

block vars
	-
		let title = 'Title';

		let html = {
			attrs: {
				lang: 'ru',
				dir: 'ltr'
			},
			classList: [],
		};

		let body = {
			attrs: {},
			classList: [],
		};

		let main = {
			attrs: {},
			classList: [],
		};


doctype html
html(class=html.classList)&attributes(html.attrs)
	head
		block head-start

		title #{ title }

		meta(charset='utf-8')
		meta(
			http-equiv='X-UA-Compatible'
			content='IE=edge')
		meta(
			name='viewport'
			content='width=device-width, initial-scale=1, viewport-fit=cover')
		meta(
			name='format-detection'
			content='telephone=no')

		link(
			rel='icon'
			href='img/favicon.svg'
			type='image/svg+xml'
			sizes='any')

		script.
			function canUseWebP() {
				var e = document.createElement('canvas');
				return !(!e.getContext || !e.getContext('2d')) && 0 == e.toDataURL('image/webp').indexOf('data:image/webp');
			}
			var root = document.getElementsByTagName('html')[0];
			canUseWebP() ? root.classList.add('webp') : root.classList.add('no-webp');

		block pre-style

		link(
			href='css/vendors.css'
			rel='stylesheet')

		link(
			href='css/app.css'
			rel='stylesheet')

		block post-style

		block head-end

	body(class=body.classList)&attributes(body.attrs)
		block body-start

		block header
			include header

		+b.MAIN.main-content(class=main.classList)&attributes(main.attrs)
			block content

		block footer
			include footer

		include popups

		include tooltips

		block pre-script

		script(src='js/app.js')

		block post-script

		block body-end
